<ion-content scroll="true">
<div class="row responsive-sm">

    <div class="col col-50 col-offset-25 row">

        <div ng-if='vm.step == 1'>
            <h2>
               Bridgeform is a FREE to use Brudging Loan sourcing system and marketplace.
            </h2>
            <div class='row'>
                <div class="col col-25">
                    <i class='icon ion-checkmark-circled'></i>
                    100% Free
                </div>
                <div class="col col-25">
                    <i class='icon ion-checkmark-circled'></i>
                    No Commitments
                </div>
                <div class="col col-25">
                    <i class='icon ion-checkmark-circled'></i>
                    No broker fees
                </div>
                <div class="col col-25">
                    <i class='icon ion-checkmark-circled'></i>
                    We search the whole Market
                </div>
            </div>
            <h4>
               Step 1 of 3
            </h4>
            <div class="list">
                <label class="item range range-positive">
                    <!--
                    <i class='icon ion-help-circled'></i>
                    -->
                    Capital
                    <input type="range" min="1000" max="1000000" step="500" ng-model='vm.form.capital'>
                    {{ vm.form.capital|currency:"£":0 }}
                </label>
                <div class="item range range-positive">
                    Duration
                    <input type="range" min="1" max="36" step="1" ng-model='vm.form.duration'>
                    {{ vm.form.duration }} month(s)
                </div>
                <div class="item range range-positive">
                    Property Value
                    <input type="range" min="50000" max="50000000" step="5000" ng-model='vm.form.property'>
                    {{ vm.form.property|currency:"£":0 }}
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Type of charge
                    </div>
                    <select ng-model='vm.form.chargeType'>
                        <option value='1st' selected>1st</option>
                        <option value='2nd'>2nd</option>
                        <option value='3rd'>3rd</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Security Type
                    </div>
                    <select>
                        <option value='residential' selected>Residential</option>
                        <option value='commercial'>Commercial</option>
                        <option value='landplanning'>Land / Site with planning</option>
                        <option value='landnoplanning'>Land / Site with no planning</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Your Credit
                    </div>
                    <select>
                        <option value='good' selected>Good</option>
                        <option value='poor'>Poor</option>
                        <option value='verypoor'>Very Poor</option>
                    </select>
                </label>
                 <button class="button button-full button-positive" ng-click='vm.goToStep2()'>
                     Continue
                 </button>
            </div>
        </div>

        <div ng-if='vm.step == 2'>
            <h2>
               Our database search has found several products that match your criteria and estimated that your loan will cost:
            </h2>
            <h4>
               Step 2 of 3
            </h4>
            <div class="list">
                <label class="item item-divider">
                    Details
                </label>
                <label class="item">
                    Rate: {{ vm.loan.rate }}%
                </label>
                <label class="item">
                    Per Month: {{ vm.loan.perMonth|currency:"£":2 }}
                </label>
                <label class="item item-divider">
                    Fees
                </label>
                <label class="item">
                    Estimated Arrangement Fee: {{ vm.loan.arrangementFee|currency:"£":2 }}
                </label>
                <label class="item">
                    Exit Fee: {{ vm.loan.exitFee|currency:"£":2 }}
                </label>
                <label class="item">
                    Legal Fee: {{ vm.loan.legalFee }}
                </label>
                <label class="item">
                    Valuation Fee: {{ vm.loan.valuationFee }}
                </label>
                <label class="item item-divider">
                    Total
                </label>
                <label class="item">
                    Total cost over {{ vm.form.duration }} month(s) is : {{ vm.loan.cost|currency:"£":2 }}
                </label>
                <label class="item">
                    If you repay early the total cost over X months is : X
                </label>
            </div>
        </div>

    </div>

</div>
</ion-content>
